<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @patient_dismissal.status %>
</p>

<%= link_to 'Edit', edit_patient_dismissal_path(@patient_dismissal) %> |
<%= link_to 'Back', patient_dismissals_path %>
